.html,body {
	height:600px;
}

@media (min-width: 576px){
	
}

.jumbotron {
	padding: 1rem 1.5rem !important
}
h3 {
	margin-bottom: 20px !important;
}
.special-header {
	margin-top: -42px;;
}

.dreadArtLogo{
	/* background: url(../img/corp/dreadArt-big.png) no-repeat 50%; */
	background-image: url(../img/corp/logo.png);
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.cropping-area {    
	position: relative;
	overflow: hidden;
	padding: 40px;
	border-style: dashed;
	border-width: 2px;
	border-color:lightgray;
	background: white;
	height: 600px;
	flex: 1;
    align-items: center;
 }

#userDreads{
	cursor: move;
	position: absolute;
	min-width: 150px;
	z-index: 2;
}
#userPortrait{	
	top:0;
	right:0;
	cursor: move;
	position: relative;
	z-index: 0;
}

#zoomplus, #zoomminus{
	display: none;
	margin-top:20px;
}

canvas{
	object-fit: scale-down;
    height: 100%;
}


 /*using for DEV purpose to show resizable, draggable, rotable element*/
 /* .ui-resizable, .ui-draggable, .ui-draggable-handle { 
	 border: 1px dashed lightblue; 
  } */
  /**/

/*draggablae & rotatable styling*/
.ui-draggable:hover{
	border: 1px dashed lightblue;
 }
 .ui-rotatable-handle{
	height: 32px;
	width: 32px;
	cursor: pointer;
	background-image: url(../img/rotate.png);
	background-size: 100%;
	left: 5px;
	top: 5PX;
}
.ui-resizable-handle{
	height: 32px;
	width: 32px;
	right: 5px;
    top: 5px;
	background-image: url(../img/resize.png);
}

/*dread selection styles*/
a.thumbnail.active, a.thumbnail:focus, a.thumbnail:hover {
    border-color: #BADA55;
}
a.thumbnail.active {
	background-color: #BADA55;
}
.thumbnail{
	width: 200px;
}
.label-outline-default {
	border-radius: 10px;
    border: 2px solid #d1ef70;
    color: white;
    background-color: #BADA55;
}